body{
    background-color: lightgray;
    color: greenyellow;
}
.wrapper{
    font-family: 'Roboto';
    padding: 1vw 1vw;
    display: flex;
}

/* aside/navigation */
aside{
    width: 15vw;
    height: 49vw;
    background-color: black;
    border-radius: 20px;
    margin-right: 1vw;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vw;
}
.local_navigation{
    margin-bottom: 5vw;
}
h2{
    font-size: 1.5vw;
    padding-bottom: 1vw;
}
li{
    padding-bottom: 0.5vw;
}
a{
    font-size: 1vw;
    color: greenyellow;
}
.nav_button{
    font-size: 1vw;
    color: greenyellow;
    background-color: inherit;
    margin: 0;
    width: auto;
    height: auto;
}
/* main */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82vw;
    height: 49vw;
    background-color: black;
    border-radius: 20px;
}
.calculus{
    display: none;
    justify-content: space-around;
    align-items: center;
    height: 47vw;
    width: 80vw;
    border-radius: 20px;
}
.active{
    display: flex;
}
/* calculus_clasic */

.calculator {
    width: 22vw;
    height: 26vw;
    background: black;
    border-radius: 5px;
    border: 4px solid greenyellow;
}
output {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21vw;
    height: 3vw;
    background: black;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: bold;
    color: greenyellow;
    border: 4px solid greenyellow;
}
  
.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
button {
    width: 5vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    font-weight: bold;
    color: greenyellow;
    background-color: black;
}

.calc_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: inherit;
}
.calculator_code{
    height: 47vw;
    width: 39vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid greenyellow;
    border-radius: 10px;
    padding: 0.5vw;
}
.calculator_code > pre{
    width: 35vw;
    font-size: 0.7vw;
}
.calculator_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    border: 2px solid greenyellow;
    padding: 1vw;
}
.calculator_description > h3{
    font-size: 2vw;
    font-weight: bold;
    padding-bottom: 2vw;
}
.calculator_description > p{
    font-size: 1vw;
    line-height: 1.2vw;
    text-align: justify;
}

/* calculus curency */
.curency_list{
    height: 47vw;
    width: 39vw;
}
#curency_chart{
    overflow: auto;
    overflow-x: hidden;
    height: 23.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid greenyellow;
    border-radius: 10px;
    padding: 0.5vw;
}
/* scroll bar */
#curency_chart::-webkit-scrollbar{
    width: 0.8vw;
}
#curency_chart::-webkit-scrollbar-track{
    background-color: black;
    border: 2px solid greenyellow;
    border-radius: 10px;
}
#curency_chart::-webkit-scrollbar-thumb{
    background: greenyellow;
    border-radius: 5px;
}
/* /scroll bar */
.curency_card{
    width: 11vw;
    border: 1px solid greenyellow;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0.3vw;
    margin-bottom: 0.5vw;
    margin-right: 0.5vw;
}
.curency_card > h2{
    font-size: 1vw;
    padding: 0 0 0.3vw 0;
}
.curency_card > span{
    font-size: 1vw;
    padding: 0;
}
.curency_calculator{
    display: flex;
    flex-direction: column;
    border: 2px solid greenyellow;
    border-radius: 10px;
    height: 23vw;
    margin-top: 0.5vw;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dropdown, #dropdown_price, #percent_type{
    font-size: 1vw;
    border: 2px solid greenyellow;
    border-radius: 5px;
    color: greenyellow;
    background-color: black;
    width: 38vw;
    margin-top: 0.2vw;
    margin-bottom: 1vw;
}
#curence_get_number{
    font-size: 1vw;
    color: greenyellow;
    border: 2px solid greenyellow;
    border-radius: 5px;
    background-color: black;
    width: 38vw;
    margin-bottom: 1vw;
}
#curence_get_number::-webkit-input-placeholder { 
    color: greenyellow; 
}
.curency_calculate{
    border: 2px solid greenyellow;
    border-radius: 10px;
    padding: 1vw 4vw;
    margin-bottom: 1vw;
}
#curency_result{
    font-size: 1vw;
    border: 2px solid greenyellow;
    border-radius: 5px;
    background-color: black;
    width: 38vw;
    margin-bottom: 1vw;
}
.curency_description{
    font-size: 1vw;
    border: 2px solid greenyellow;
    border-radius: 5px;
    background-color: black;
    width: 38vw;
    text-align: justify;
    padding: 0.3vw;
}
.curency_code{
    height: 47vw;
    width: 39vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid greenyellow;
    border-radius: 10px;
    padding: 0.5vw;
}
.curency_code > pre{
    width: 35vw;
    font-size: 0.7vw;
}

/* percent */

.percent_calculator, .percent_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid greenyellow;
    border-radius: 10px;
    height: 47vw;
    width: 39vw;
}
.percent_calculator{
    border: none;
}
.calculator_form{
    border: 2px solid greenyellow;
    border-radius: 10px;
    padding: 0.5vw;
}
#percent_form{
    flex-direction: row;
    flex-wrap: wrap;
}
#percent_input, #percent_get_number, #percent_result{
    color: greenyellow;
    background-color: black;
    border: 2px solid greenyellow;
    border-radius: 5px;
    font-size: 1.3vw;
    width: 38vw;
    margin-bottom: 1vw;
}
#percent_input::-webkit-input-placeholder { 
    color: greenyellow; 
}
#percent_get_number::-webkit-input-placeholder { 
    color: greenyellow; 
}
#percent_calculate{
    border: 2px solid greenyellow;
    border-radius: 5px;
    font-size: 1.3vw;
    height: auto;
    width: 7vw;
}
.calculator_form_description{
    border: 2px solid greenyellow;
    border-radius: 10px;
    padding: 0.5vw;
    text-align: justify;
    font-size: 1.4vw;
}
.percent_description > pre{
    width: 35vw;
    font-size: 0.7vw;
}

/* media */
@media (max-width : 768px){
    aside {
        height: auto;
    }
    main{
        width: auto;
        height: auto;
    }
    /* clasic */
    .calculus {
        flex-direction: column;
        width: 82vw;
        height: auto;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    .calc_block {
        flex-direction: row;
        width: 82vw;
        padding-bottom: 2vw;
    }
    .calculator {
        width: 24vw;
        height: 29vw;
        border: 2px solid greenyellow;
        border-radius: 5px;
    }
    output {
        font-size: 1vw;
        border: 2px solid greenyellow;
    }
    .calculator_code {
        justify-content: flex-start;
        height: auto;
        width: 69vw;
    }
    .calculator_code > pre {
        font-size: 1.3vw;
    }
    /* /clasic */
    /* curency */
    .curency_list {
        height: auto;
        width: 80vw;
        display: flex;
        flex-direction: column;
        padding-bottom: 2vw;
    }
    .curency_calculator {
        height: auto;
        padding: 1vw 0;
    }
    .curency_code {
        justify-content: flex-start;
        height: auto;
        width: 80vw;
    }
    .curency_code > pre {
        width: 35vw;
        font-size: 1.4vw;
    }
    /* /curency */
    /* percent */
    .percent_calculator, .percent_description {
        height: auto;
        width: 80vw;
    }
    .percent_calculator{
        margin-bottom: 1vw;
    }
    .calculator_form {
        margin-bottom: 1vw;
    }
    #percent_input, #percent_get_number, #percent_result, #percent_type  {
        width: 76vw;
    }
    .percent_description > pre {
        width: auto;
        font-size: 1.3vw;
        padding: 1vw 0;
    }
}