
body{
    background-color: black;
}
.wrapper{
    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}
.card{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 32vw;
    height: 49vw;
    border: 1px solid greenyellow;
    border-radius: 50px;
}
a{
    color: greenyellow;
}
.block_title{
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 1vw;
}
.block_description, .page_description{
    font-size: 1vw;
    padding: 0 1vw;
    margin-bottom: 2vw;
}
.page_title{
    font-size: 2vw;
    margin-bottom: 1vw;
}
